@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

{
    box-sizing: border-box;
}

body{
    font-family: "Poppings", sans-serif;
    background-image: url("./newyear.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    margin: 0;
}

h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: -10rem;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}